In [1]:
print("Abhijeet Kaur")
print("Abhijeet Kaur")
print("Abhijeet Kaur")

Abhijeet Kaur
Abhijeet Kaur
Abhijeet Kaur

In [6]:
#Adding numbers
a,b,c = 10,20,30
print(f"{a} + {b} + {c} = {a+b+c}")
#Concatenating strings
str1 = "Happy"
str2 = "to"
str3 = "Help"
print(f"{str1} {str2} {str3}")

10 + 20 + 30 = 60
Happy to Help

In [8]:
#To print table of 7,9
for i in range(1,11):
    print(f"7 * {i}= {7*i}")
print("Table of 9: ")
for i in range(1,11):
    print(f"9 * {i}= {9*i}")

7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
7 * 10= 70
Table of 9:
9 * 1= 9
9 * 2= 18
9 * 3= 27
9 * 4= 36
9 * 5= 45
9 * 6= 54
9 * 7= 63
9 * 8= 72
9 * 9= 81
9 * 10= 90

In [10]:
#Table of n
num = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

Enter a number:  20

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [11]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print(sum)

Enter a number:  5

15

In [12]:
#Finding max num
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

maximum = max(a, b, c)

print("The maximum number is:", maximum)

Enter first number:  32
Enter second number:  50
Enter third number:  9

The maximum number is: 50

In [14]:
#To add all nums divisible by 7 and 9
n = int(input("Enter number: "))
total = 0
for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        total += i

print("Sum of numbers divisible by 7 and 9 from 1 to", n, "is:", total)

Enter number:  100

Sum of numbers divisible by 7 and 9 from 1 to 100 is: 63

In [15]:
n = int(input("Enter number: "))
total = 0

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        total += num

print("Sum of all prime numbers from 1 to", n, "is:", total)

Enter number:  20

Sum of all prime numbers from 1 to 20 is: 77

In [21]:
n = int(input("Enter a number: "))
def AddOdd(n):
    sum = 0
    for i in range(1,n+1):
        if(i%2!=0):
            sum = sum + i
    return sum
print(AddOdd(n))

Enter a number:  20

100

In [24]:
n = int(input("Enter number: "))

def isPrime(n):
    total = 0
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            total += num
    return total

print("Sum of all prime numbers from 1 to", n, "is:", isPrime(n))

Enter number:  20

Sum of all prime numbers from 1 to 20 is: 77

In [1]:
import math
print(math.sqrt(100))
print(math.ceil(10.6))
print(math.floor(10.8))
print(math.log(10))

10.0
11
10
2.302585092994046

In [12]:
str = "Life is important"
str1 = "  Happy    Life"
print(str[:5])
print(str[::2])
print(str[::-1])
print(str1.split())

Life
Lf siprat
tnatropmi si efiL
['Happy', 'Life']

In [16]:
import random as r
print(r.random())
print(r.randint(1,100))

0.45698212970772356
48

In [17]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [22]:
for i in range(0,10):
    try:
       if 7%i == 0:
        print("Divisible and gives remainder 0") 
    except:
           print("Divisible by 0 error")

Divisible by 0 error
Divisible and gives remainder 0
Divisible and gives remainder 0

In [34]:
lst = [10,20,30,"Amsterdam"]
for item in lst:
    print(item)
lst.append("amazing")
print(lst)
lst1 = [13,20,7,50,6,15]
print(sum(lst1))
print(max(lst1))
print(min(lst1))
lst1.sort()
print(lst1)

10
20
30
Amsterdam
[10, 20, 30, 'Amsterdam', 'amazing']
111
50
6
[6, 7, 13, 15, 20, 50]